* {
  margin: 0;
  padding: 0;
  text-decoration: none;
  list-style-type: none;
  color: black;
}

html, body, #__next, .homePage {
  width: 100%;
  height: 100%;
}

.homePage {
  width: calc(100vw - 80px);
  height: 100vh;
  float: right;
}
